.App {
  text-align: center;
}




.header{
  margin-top: 200px;
}

span{
  text-align: center;
}
.dady{
border: solid goldenrod;
display:flex;
align-content: space-between;
padding: 100px;
}
.dady2{
  margin:220px
}